.btn{
  background-color: white;
  color: blue;
}
body{
  background-image: url(bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.jumbotron{
  background-color: salmon;
}
h1{
  text-align:center;
  font-family: monospace;
  text-decoration: underline;
}
.em{
  color: firebrick;
}
#youScore{
  font-size: 3em;
  font-style: italic;
}
